.App {
  place-self: center;
  padding: 40px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Roboto', sans-serif;
}

.location {
  font-size: 20px;
}

.temperature {
  font-size: 30px;
}

.weather-container {
  margin: 40px;
}